.song-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.song-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}

.album-art {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

.song-info {
  display: flex;
  flex-direction: column;
}

.song-info h2 {
  margin: 0;
}

.song-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.play-button {
  background-color: #6200ea;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-bottom: 20px;
  cursor: pointer;
  border-radius: 5px;
}

.play-button:hover {
  background-color: #3700b3;
}
.vi {
  width: 400px;
  height: 400px;
  margin-right: 10px;
}
.nam {
  color: black;
}
.nu {
  color: white;
}
.vixinh {
  background-color: brown;
}
.song-detail {
  text-align: center;
  margin: 0 auto;
  max-width: 800px;
}

.song-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

/* .song-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
} */

.song-meta {
  margin-left: 20px;
  text-align: left;
}

.song-player {
  margin-bottom: 20px;
}

.play-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.play-button:hover {
  background-color: #0056b3;
}

.comment-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;
}

.comment-button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 10px;
}

.comment-button:hover {
  background-color: #218838;
}

.comment-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

.comment-box textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  resize: vertical;
}

.submit-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #0056b3;
}

.comments-list {
  width: 100%;
}

.comment-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #90327a;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.comment-item p {
  margin: 0;
  flex-grow: 1;
}

.comment-item button {
  background-color: #ff4d4d;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin-left: 10px;
}

.comment-item button:hover {
  background-color: #cc0000;
}
