.app {
  background-color: #170f23;
  color: white;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  margin: 0;
}

.filters {
  display: flex;
}

.filter-button {
  background-color: #4a4a4a;
  border: none;
  color: white;
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 20px;
}

.filter-button.active {
  background-color: #6a0dad;
}

.songs-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, auto);
  gap: 20px;
  margin-top: 20px;
}

.song-item {
  background-color: #170f23;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.song-image {
  width: 60px;
  height: 60px;
  border-radius: 10px;
  margin-right: 10px;
}

.song-info {
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.song-title {
  margin: 0;
  font-size: 16px;
  text-decoration: none;
}

.song-title .premium {
  background-color: #ffa500;
  color: black;
  padding: 2px 5px;
  margin-left: 5px;
  border-radius: 3px;
}

.song-artist,
.song-time {
  margin: 0;
  font-size: 14px;
  color: #b0b0b0;
}

/* Đảm bảo media-container bao bọc và sử dụng Flexbox để bố trí các phần tử */
.media-container {
  display: flex;
  justify-content: flex-end; /* Đẩy media-right sang bên phải */
  align-items: center; /* Căn giữa theo chiều dọc nếu cần */
  width: 100%; /* Đảm bảo chiếm toàn bộ chiều rộng của phần tử cha */
  padding: 10px; /* Khoảng cách giữa các phần tử nếu cần */
}

.media-right {
  display: flex;
  align-items: center; /* Căn giữa các phần tử con theo chiều dọc */
}

.custom-btn {
  margin-right: 10px; /* Khoảng cách giữa nút và thời lượng */
}

.duration {
  font-size: 14px; /* Điều chỉnh kích thước chữ nếu cần */
  color: #000; /* Màu chữ */
}
.custom-btn {
  border: none; /* Loại bỏ khung */
  background: none; /* Loại bỏ nền */
  outline: none; /* Loại bỏ viền khi nhấn vào */
  cursor: pointer;
}
.white-text {
  color: white;
}
.link {
  color: white; /* Màu chữ mặc định */
  /* Loại bỏ dấu gạch chân */
  transition: color 0.3s ease; /* Hiệu ứng chuyển đổi màu chữ */
}

.link:hover {
  color: rgb(223, 84, 223); /* Màu chữ khi di chuột vào */
  text-decoration: none;
}
.custom-modal-header {
  background-color: purple; /* Màu tím */
  color: white; /* Màu chữ */
}
