.app12 {
    background-color: #170F23;
    color: #170F23;
    padding: 20px;
}

.zm-section-title12 {
    font-size: 24px;
    color: white;
}

.zm-carousel-wrapper12 {
    margin-top: 20px;
}

.zm-carousel__container12 {
    display: flex;
    gap: 20px;
}

.zm-carousel-item12 {
    flex: 1;
    max-width: 20%;
}

.playlist-wrapper12 {
    background-color: #170F23;
}

.zm-card-image12 img {
    width: 100%;
    border-radius: 10px;
}

.zm-card-content12 {
    margin-top: 10px;
}

.subtitle12 {
    font-size: 20px;
    color: #b0b0b0;

}
